@using YuanNewWebsite.Helpers.HtmlHelpers

@{
    ViewBag.Title = "Guide";
    string folderName = Model;
}


<html>
<head>

</head>

<body bgcolor="#E7EDDC" lang=ZH-TW vlink=blue>
    <div class="bgstyle">
        <table class="tbcss" width="1024" border="0" align="center">
            <tr>
                <td height="20" colspan="2"><span class="style14"> </span></td>
            </tr>
            <tr>
                <td height="54" colspan="2"><img src="~/images/left_6_T.jpg" alt="新手上路圖示" width="1024" height="94"></td>
            </tr>
            @Html.GetGuides(folderName)
        </table>
    </div>

</body>

</html>